
    {% extends "base.html" %}
    {% block content %}
    <!-- 随机推荐每个专栏三本书展示 -->
    <div class="container" style="margin-top: 50px">
        <div class="recommend text-center">
            <h2>{{ cname }}</h2>
        </div>
        <div class="row">
            {% for c in clist %}
            <div class="col">
                <a href="{{ c.download }}" target="_blank">
                <div class="media border p-3 be-shown" >
                        <img src="{% url 'index' %}media/{{ c.img }}" alt="">
                    <div class="media-body" style="margin-left: 12px;">
                        <h4 class="media-heading">
                            {{ c.name }}
                        </h4>
                        <p>
                            <strong>作者</strong>：{{ c.autor }}
                         </p>
                    </div>
                </div>
            </a>
            </div>

            {% endfor %}
        
    </div>
        
        
        
    </div>
{% endblock %}